{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}
{% block content %}
<div class="forum-background">
<div class="container">
    <h2>{{ form_title }}</h2>
    <form method="post"  class="form-style">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{{ form_submit_text }}</button>
    </form>
</div>
</div>
{% endblock %}