.profile-container {
    width: 60%;
    margin: 0 auto;
    position: relative;  
    border: 2px solid #b8b894;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #b3b3b3);
    padding: 20px;
}

.edit-container {
    width: 60%; 
    margin: 0 auto;
    align-items: center; 
}

.form-item {
    flex: 1;
    margin: 0 10px;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-image img {
    width: 100%;
    height: auto;
}


hr {
    margin: 20px 0;
}

.reminder-settings-table {
    width: 100%;
    margin-top: 20px;
}

.reminder-settings-table th, .reminder-settings-table td {
    padding: 10px;
    text-align: center;
}

.edit-profile-link {
    margin-top: 10px;
    text-align: left;
}

.spacer {
    margin: 10px;
}