{% extends "base.html" %}

{% block content %}
  <div class="hiit-delete text-center">
    <h2>Delete Workout</h2>
    <p>Are you sure you want to delete the workout "{{ workout.name }}"? This action cannot be undone.</p>
    <div class="form-style">
        <form method="POST">
          {% csrf_token %}
          <button type="submit"  class="btn btn-danger">delete</button>
          <a href="{% url 'hiit:workout_list' %}"class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    
  </div>
{% endblock %}
