{% extends 'base.html' %}

{% block content %}
  <h2>{{ user.username }}'s Profile</h2>
  <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}'s profile picture" class="rounded-circle">
  <br>
  <a href="{% url 'profile:edit_profile' %}">Edit Profile</a>

  <h3>Reminder Settings</h3>
  <table>
    <tr>
      <th>Color</th>
      <th>Repeat</th>
      <th>Remind Before (minutes)</th>
    </tr>
    {% for color, settings in reminder_settings.items %}
      <tr>
        <td>{{ color }}</td>
        <td>{{ settings.repeat }}</td>
        <td>{{ settings.remind_before }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
